<!DOCTYPE html>
<html lang="en" th:replace="base::layout(~{::section})" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta charset="utf-8"/>
</head>
<body style="background-color: #f8f9fd">


<section>
    <div class="container form-box">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="my-card mt-3">

                    <div class="alert" th:classappend="${session.message.type}" th:if="${session.message}">
                        <p id="form-message" th:text="${session.message.content}"></p>
                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    </div>

                    <h3 class="text-center text-muted">Product Details</h3>
                    <br/>
                    <br/>
                    <form action="" id="view-form" method="post"
                          th:object="${product}">

                        <div class="form-group">
                            <label for="partNumber">Part Number</label>
                            <input class="form-control" id="partNumber" name="partNumber" placeholder="Enter here"
                                   readonly th:value="${product.partNumber}" type="text">
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input class="form-control" id="quantity" name="quantity" placeholder="Enter here"
                                   readonly th:value="${product.quantity}" type="number">
                        </div>
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input class="form-control" id="date" name="date" readonly th:value="${product.date}"
                                   type="date">
                        </div>
                        <div class="form-group">
                            <label for="model">Model</label>
                            <input class="form-control" id="model" name="model" placeholder="Enter here"
                                   readonly th:value="${product.model}" type="text">
                        </div>

                        <div class="form-group">
                            <label for="creatorName">Creator Name</label>
                            <input class="form-control" id="creatorName" name="creatorName" placeholder="Enter here"
                                   readonly th:value="${product.creatorName}" type="text">
                        </div>

                        <div class="form-group">
                            <label for="defectDescription">Defect Description</label>
                            <textarea class="form-control" id="defectDescription" name="defectDescription"
                                      placeholder="Enter here" readonly rows="3"
                                      th:text="${product.defectDescription}"></textarea>
                        </div>


                        <a class="btn btn-primary mr-auto ml-auto" th:href="@{|/operator/product/print?id=${product.id}|}">
                            <span>Print Sticker</span>
                        </a>
                    </form>


                </div>
            </div>
        </div>
    </div>

</section>


</body>
</html>
