<!DOCTYPE html>
<html lang="en" th:replace="base::layout(~{::section})" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta charset="utf-8"/>
</head>
<body style="background-color: #f8f9fd">


<section>
    <div class="container form-box">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="my-card mt-3">

                    <div class="alert" th:classappend="${session.message.type}" th:if="${session.message}">
                        <p id="form-message" th:text="${session.message.content}"></p>
                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    </div>

                    <h3 class="text-center text-muted">Update Details</h3>
                    <br/>
                    <br/>
                    <form action="" id="update-form" method="post" th:action="@{/qc/updateProduct}"
                          th:object="${product}">
                        <input id="id" th:field="*{id}" type="hidden">
                        <input id="dateCreated" th:field="*{dateCreated}" type="hidden">

                        <div class="form-group">
                            <label for="partNumber">Part Number</label>
                            <input class="form-control" id="partNumber" name="partNumber" placeholder="Enter here"
                                   th:value="${product.partNumber}" type="text">
                        </div>
                        <div class="form-group">
                            <label for="partNumber">Part Description</label>
                            <input class="form-control" id="partDescription" name="partDescription" placeholder="Enter here"
                                   th:value="${product.partDescription}" type="text" readonly>
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input class="form-control" id="quantity" name="quantity" placeholder="Enter here"
                                   readonly th:value="${product.quantity}" type="number">
                        </div>
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input class="form-control" id="date" name="date" readonly th:value="${product.date}"
                                   type="date">
                        </div>
                        <div class="form-group">
                            <label for="model">Model</label>
                            <input class="form-control" id="model" name="model" placeholder="Enter here"
                                   readonly th:value="${product.model}" type="text">
                        </div>

                        <div class="form-group">
                            <label for="creatorName">Creator Name</label>
                            <input class="form-control" id="creatorName" name="creatorName" placeholder="Enter here"
                                   readonly th:value="${product.creatorName}" type="text">
                        </div>

                        <div class="form-group">
                            <label for="defectDescription">Defect Description</label>
                            <textarea class="form-control" id="defectDescription" name="defectDescription"
                                      placeholder="Enter here" readonly rows="3"
                                      th:text="${product.defectDescription}"></textarea>
                        </div>


                        <div class="form-group">
                            <label for="date">QC Inspection Date</label>
                            <input class="form-control" id="qcInspectionDate" name="qcInspectionDate" th:value="${product.qcInspectionDate}"
                                   type="date" readonly>
                        </div>

                        <div class="form-group">
                            <label for="rejectionOrScrap">Rejection/Scrap</label>
                            <select class="form-control" id="rejectionOrScrap" th:field="*{rejectionOrScrap}" required>
                                <option value="">Nothing selected</option>
                                <option th:each="rs : ${T(com.hitachi.kioskdesk.enums.RejectionScrap).values()}"
                                        th:text="${rs.displayValue}"
                                        th:value="${rs}">Rejection
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="vendor">Vendor</label>
                            <input class="form-control" th:classappend="${#fields.hasErrors('vendor') ? 'is-invalid':''}"
                                   id="vendor" name="vendor" placeholder="Enter here" required
                                   th:value="${product.vendor}" type="text">
                            <div class="invalid-feedback" th:each="e: ${#fields.errors('vendor')}" th:text="${e}"></div>
                        </div>

                        <div class="form-group">
                            <label for="notificationNumber">Notification Number</label>
                            <input class="form-control" th:classappend="${#fields.hasErrors('notificationNumber') ? 'is-invalid':''}"
                                   id="notificationNumber" name="notificationNumber" placeholder="Enter here"
                                   required th:value="${product.notificationNumber}" type="text">
                            <div class="invalid-feedback" th:each="e: ${#fields.errors('notificationNumber')}" th:text="${e}"></div>
                        </div>

                        <div class="form-group">
                            <label for="authorizedBy">Authorized By</label>
                            <input class="form-control" th:classappend="${#fields.hasErrors('authorizedBy') ? 'is-invalid':''}"
                                   id="authorizedBy" name="authorizedBy" placeholder="Enter here"
                                   required th:value="${product.authorizedBy}" type="text">
                            <div class="invalid-feedback" th:each="e: ${#fields.errors('authorizedBy')}" th:text="${e}"></div>
                        </div>


                        <div class="form-group">
                            <label for="qc1Comments">Reason</label>
                            <textarea class="form-control" th:classappend="${#fields.hasErrors('qc1Comments') ? 'is-invalid':''}"
                                      id="qc1Comments" name="qc1Comments"
                                      placeholder="Enter reason" required rows="3"
                                      th:text="${product.qc1Comments}"></textarea>
                            <div class="invalid-feedback" th:each="e: ${#fields.errors('qc1Comments')}" th:text="${e}"></div>
                            Words left <span class="text-muted" id="words-left">90</span>
                        </div>


                        <button class="btn btn-primary">
                            Submit
                        </button>

                    </form>


                </div>
            </div>
        </div>
    </div>

</section>


</body>
</html>
